
<div class="container">
  <div class="row">
    <div class="col s6">
      <div *ngIf="meeting != null">
        <p>{{meeting.title}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div></div>
    <div class="col s6" *ngIf="myOwnEmail">
      <form [formGroup]="myForm" novalidate>
        <my-date-picker name="mydate" [options]="myDatePickerOptions"
                        formControlName="myDate"></my-date-picker>
        <input #time type="time" atp-time-picker value="{{selectedTime}}"  (click)="open()" arrowStyle="{'background': 'red', 'color': 'white'}"/>

        <!-- other controls are here... -->
        <button (click)="AddToMeetingTimes(time.value)" mat-raised-button >Add date</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 col s2" *ngIf="myOwnEmail">
      <br/>
      <label for ="email">
        Email:
      </label>
        <input  id = "email" name = "email"  #email/>
      <br/>


      <!-- other controls are here... -->
      <button (click)="GetPersonByMail(email.value, false)" mat-raised-button >Add Person</button>
    </div>

    <div class="col-md-6 col s9" *ngIf="meetingTimes.length != 0">
      <table>
        <tr>
          <th>Deelnemer</th>
          <th *ngFor = "let meetingTime of meetingTimes">{{meetingTime.dateLabel}} {{meetingTime.startDate.toLocaleTimeString()}}</th>
        </tr>


        <tr *ngFor="let participant of participants">
          <td>{{participant.name}}</td>
          <td *ngFor = "let meetingTime of meetingTimes">
                  <div *ngIf="myOwnEmail == participant.personalmail">
                    <select class="browser-default" #status (change)="AddToMeetingParticipations(participant, meetingTime, status.value)">
                      <option value="Beschikbaar">Beschikbaar</option>
                      <option value="Misschien">Misschien</option>
                      <option value="Niet beschikbaar">Niet beschikbaar</option>
                    </select>
                  </div>
                  <div *ngIf="myOwnEmail != participant.personalmail">
                    <div *ngIf="meetingParticipants.length != 0">
                      <p>{{GetAttendanceStatus(participant.personID, meetingTime.ID, participant.personalmail)}}</p>
                    </div>

                  </div>
                </td>
        </tr>
      </table>

    </div>

  </div>
</div>

